# ----------- Discord -----------
DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here

# ----------- Channels -----------
FILTER_CHANNEL_NAME=filter-channel
# FILTER_ACTION=ban
# FILTER_TIMEOUT_MINUTES=1440
REPORT_CHANNEL_ID=your_report_channel_id
# MOD_LOG_CHANNEL_ID=your_mod_log_channel_id

# ----------- Development -----------
# GUILD_ID=your_guild_id_here
